doctype html
html
  head
    title= "Berita Kesehatan"
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    <% for (var i = 0; i < news.length; i++) { %>
    h1= <%= news[i].title %>
    p <%= news[i].description: %>